<!doctype html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>ログイン後</title>
</head>
<body>
  <h1>My Site</h1>
  <p>Welcome to My Site</p>
  <%= user %> さんようこそ。
  <p>
    <a href="/logout">ログアウト</a>
  </p>
</body>
</html>